<% include ../partials/header %>
<div class="container">
<h1>Fees</h1>
				<% data.forEach(function (user) { %>
				<ul class="list-group list-group-flush">
  				<li class="list-group-item">Regestration  No-<%=user.Reg%></li>
  				<li class="list-group-item">Name-<%=user.Name%></li>
  				<li class="list-group-item">Hostel Fee-<%=user.Hostel%></li> 				
  				<li class="list-group-item">Mess fee-<%=user.Mess%></li>
  				<li class="list-group-item">Room No-<%=user.Roomno%></li>
				</ul>
				<% }) %>
</div>




<% include ../partials/footer %>