<% include ../partials/header %>

<div class="container" style="background-color:white;margin-top:15px;height:700px;border-radius:12px;overflow:scroll;">
				<% data.forEach(function (user) { %>
				
				<ul class="list-group list-group-flush">
        <div style="border-style:solid;border-radius:12px;margin-top:16px">
  				<li class="list-group-item">Registration number-<%=user.Reg%></li>
  				<li class="list-group-item">Date-<%=user.Date%></li>
  				<li class="list-group-item">Outing time-<%=user.Outime%></li>
          <li class="list-group-item">In time-<%=user.Intime%></li>
          <li class="list-group-item">Exceed time-<%=user.Exceedtime%></li>
  				<li class="list-group-item">Block status-
                                            <%if (user.Block_status==0) {%>  Not Blocked <%}%>
                                            <%if (user.Block_status==1) {%>  Blocked  <%}%>
          </li>
          <div>
				</ul>
        

				<% }) %>
        

</div>






<% include ../partials/footer %>