<% include ../partials/header %>

<div class="container" style="background-color:white;margin-top:15px;height:700px;border-radius:12px;overflow:scroll;">
				<% data.forEach(function (user) { %>
				
				<ul class="list-group list-group-flush">
        <div style="border-style:solid;border-radius:12px;margin-top:16px">
  				<li class="list-group-item">Reg no-<%=user.Reg%></li>
  				<li class="list-group-item">In time-<%=user.Ininfo%></li>
  				<li class="list-group-item">Out time-<%=user.Outinfo%></li>
  				<li class="list-group-item">Status-
                                            <%if (user.Status==0) {%>  Not Approved <%}%>
                                            <%if (user.Status==1) {%>  Approved  <%}%>
          </li>
  				
          <form method="post" action="/warden/<%=user.WARDEN%>/<%=user.Reg%>/acceptgp">
          <button class="btn btn-primary"  style="margin-top:12px;margin-bottom:12px">Accept</button>
          </form>

          <form method="post" action="/warden/<%=user.WARDEN%>/<%=user.Reg%>/deletegp">
          <button class="btn btn-primary"  style="margin-top:12px;margin-bottom:12px">Declines</button>
          </form>



          <div>
				</ul>
				

				<% }) %>
        

</div>






<% include ../partials/footer %>